table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 20px 0;
    padding: 10px;
}
th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 10px;
}
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}